{# templates/profil/index.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    <h1>Profil de {{ profil.utilisateur.nom }}</h1>

    {% if hasPhoto %}
        <img src="{{ asset('uploads/images/' ~ profil.photoProfil) }}" alt="Photo de profil" />
    {% else %}
        <p>Aucune photo de profil</p>
    {% endif %}

    <p><strong>Informations Professionnelles:</strong> {{ profil.informationProfessionnelles }}</p>
    <p><strong>Informations de Contact:</strong> {{ profil.informationContact }}</p>

    <a href="{{ path('profil_modifier', {'id': profil.id}) }}" class="btn btn-primary">Modifier le Profil</a>
{% endblock %}
