{# templates/profil/index.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    <h1>Profil de {{ profil.utilisateur.nom }}</h1>

    <div>
        <h2>Information Professionnelles</h2>
        <p>{{ profil.informationProfessionnelles }}</p>
    </div>

    <div>
        <h2>Information Contact</h2>
        <p>{{ profil.informationContact }}</p>
    </div>

    <div>
        <h2>Photo de Profil</h2>
        {% if hasPhoto %}
            <img src="{{ asset('uploads/images/' ~ profil.photoProfil) }}" alt="Photo de Profil" style="max-width: 200px; max-height: 200px;">
            <a href="{{ path('profil_modifier_photo', { id: profil.id }) }}" class="btn">Changer la Photo</a>
        {% else %}
            <p>Aucune photo de profil</p>
            <a href="{{ path('profil_modifier_photo', { id: profil.id }) }}" class="btn">Ajouter une Photo</a>
        {% endif %}
    </div>
{% endblock %}
