{# templates/profil/modifier.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    <h1>Modifier le Profil</h1>

    {{ form_start(form) }}
        {{ form_row(form.photoProfil) }}
        {{ form_row(form.informationProfessionnelles) }}
        {{ form_row(form.informationContact) }}
        <button type="submit" class="btn btn-primary">Mettre à jour</button>
    {{ form_end(form) }}

    <a href="{{ path('user_profile', {id: profil.utilisateur.id}) }}" class="btn btn-secondary">Retour au profil</a>
{% endblock %}
