{# templates/admin/index.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    <h1>User List</h1>

    <a href="{{ path('admin_user_new') }}">Create New User</a>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                        <a href="{{ path('admin_user_edit', {'id': user.id}) }}">Edit</a>
                        <form action="{{ path('admin_user_delete', {'id': user.id}) }}" method="post" style="display:inline;">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
